footer {
    margin: 200px auto 40px auto;
    text-align: center;

    .title {

        font-weight: bold;
        font-size: 48px;
        line-height: 140%;
        /* or 67px */
        text-align: center;
        color: #FFFFFF;
    }

    .subtitle {
        max-width: 411px;
        margin: 30px auto 0 auto;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
    }

    .form {
        margin: 60px auto 0 auto;
        position: relative;
        width: 490px;
        // по ширине input


        input[type='email'] {
            background: none;
            color: #FFFFFF;
            border-radius: 50px;
            padding: 10px 30px;
            width: 490px;
            position: relative;

            // text
            &::-webkit-input-placeholder {
                color: #fff;
            }

            &:-moz-placeholder {
                color: #fff;
            }
        }

        input[type='submit'] {
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
            border-radius: 50px;
            padding: 10px 30px;
            position: absolute;
            right: 0;
            // text
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            /* identical to box height, or 24px */
            color: #FFFFFF;
            transition: all .4s;
            &:hover {
                box-shadow: 0 0 10px 0 #DF5950 inset, 0 0 10px 4px #451046;
                background: none;
            }
        }
    }

    .social {
        margin: 40px auto 0 auto;
        max-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // .social__item

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            // background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            box-shadow: 0 0 40px 40px #C89AFC inset, 0 0 0 0 #7C6AFA;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            transition: all .4s;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 10px 0 #C89AFC inset, 0 0 10px 4px #7C6AFA;
                background: none;
            }
        }
    }

    .copy {
        margin-top: 50px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */
        color: #FFFFFF;

        opacity: 0.8;
    }
}