header {
	background: url('../img/main-screen__bgc.png') center (center/cover) no-repeat;
	// min-height: 960px;
	padding-top: 38px;
}

.wrapperNav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1920px;
	margin: 0 auto;
	// .wrapperNav__menu

	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-width: 745px;
		margin-bottom: 0;
		// .wrapperNav__menu_item

		&_item {
			list-style-type: none;

			a {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
				text-align: center;

				color: #ffffff;

				&:hover {
					transition: all 0.4s;
					display: block;
					transform: scale(1.5);
					text-shadow: 0 0 15px #7c6afa;
					text-decoration: none;
					// font-size: 25px;
				}
			}
		}
	}

	// .wrapperNav__btn

	&__btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 30px;
		background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
		border-radius: 50px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: #ffffff;
		transition: all 0.3s;

		&:hover {
			box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
		}
	}
}

h1 {
	margin-top: 188px;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 140%;
	color: #ffffff;
}

.timer {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 485px;
	// .timer__item

	&__item {
		padding: 20px 30px;
		width: 102px;
		height: 112px;
		background: #121212;
		text-align: center;
		// .timer__item_ind

		&_ind {
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 140%;
			color: #ffffff;
		}

		// .timer__item_name

		&_name {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 140%;
			color: #ffffff;
			opacity: 0.4;
		}
	}
}

.wrapperFooter {
	margin-top: 218px;
	min-height: 130px;
	background: #121212;
}

.headFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0 28px 0;
	// .headFooter__btn

	&__btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// padding: 10px 30px;
		width: 169px;
		height: 44px;
		background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
		border-radius: 50px;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: #ffffff;
		transition: all 0.3s;

		&:hover {
			background: none;
			box-shadow: 0 0 10px 0 #df5950 inset, 0 0 10px 4px #451046;
			// border-radius: 5px;
		}
	}

	// .headFooter__stat

	&__stat {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 58px;
		// .headFooter__stat_item

		&_item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	// .headFooter__money

	&__money {
		display: flex;
		flex-direction: column;

		&_line {
			position: relative;
			height: 10px;
			border-radius: 15px;
			padding: 4px;
			width: 714px;
			background: #ffffff;

			span {
				margin-left: 5px;
				width: 67%;
				height: 80%;
				position: absolute;
				border-radius: 15px;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
			}
		}

		&_gradation {
			margin-top: 6px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			span {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
				text-align: right;
				color: #ffffff;
				opacity: 0.4;
			}
		}
	}
}

.statistic {
	// .statistic_num
	width: 300px;

	&__num {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;
	}

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;
		opacity: 0.4;
	}
}
