.quickly {
	// .quickly__wrappTitle

	&__wrappTitle {
		display: flex;
		flex-direction: row;
		align-items: center;

		&_title {
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 140%;
			color: #ffffff;
		}
	}

	// .quickly__descr

	&__descr {
		margin-top: 49px;
		margin-bottom: 80px;
		max-width: 411px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 160%;
		color: #ffffff;
		opacity: 0.5;
	}

	// .quickly__wrapper

	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.proportion {
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 140%;
		color: #ffffff;
	}

	// .proportion__illustration

	&__illustration {
		height: 80px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// position: relative;

		span {
			border: none;
			z-index: 1;
			background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
		}
	}

	// .proportion__descr

	&__descr {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 160%;
		color: #ffffff;
		opacity: 0.5;
	}
}

.h100 {
	height: 100%;
}

.h75 {
	height: 75%;
}

.h50 {
	height: 50%;
}

.h15 {
	height: 15%;
}
